* {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-right: 18px;
}

/* home pages */
.banner {
  width: 110%;
  margin-top: -50px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 5px;
}

/* product pages */
h3 {
  font-weight: 600;
}

/* info pages */
.info {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  background-color: #f5f5f5;
}

h4 {
  padding: 15px 0;
  font-size: 30px;
  font-weight: 600;
}

/* about pages */
.about-img {
  width: 95%;
}

h2 {
  font-size: 35px;
  padding: 10px 0;
  font-weight: 600;
}

/* contact */
h5 {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
}

/* footer */
.footer {
  background-color: #f5f5f5;
  margin-top: 50px;
}

.footer-img {
  width: 80%;
}

h6 {
  padding-top: 50px;
}

ul li a {
  text-decoration: none;
  color: #000;
}

ul li a:hover {
  color: grey;
  transition: 0.5s;
}

.bi {
  color: #000;
  padding-right: 10px;
}

.bi:hover {
  color: grey;
  transition: 0.5s;
}

/* responsive */
@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
  }

  .about-img {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 31px;
  }

  h5 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }
}
